@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Booking | Open Day Registration System";
}



<div class="confirmation-container">


    <h1 class="display-1">Done! Your In! </h1>
    <p>Booking Successful!</p>

    <p><strong>Participant ID: </strong></p><p>       @ViewData["PID"]</p>
    <p><strong>Participant Name: </strong> </p><p>    @ViewData["PName"]</p>
    <p><strong>Participant Surname:</strong> </p>  <p>@ViewData["PSName"]</p>


</div>








