@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Web.Models.Participant
@{
    ViewData["Title"] = " | Open Day Registration System";
}

  
<div class="welcome-container">
    <h1 class="display-1">Welcome to Shuform! </h1>
    <p><strong>Click "Start" to be begin your booking process!</strong></p>
    <a class="button1" href="@Url.Action("AddParticipant","Home")">Start</a>
</div>






