@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oopsie!</h1>
<h2 class="text-danger">What have you done? just joking</h2>

<p>Just go back to the mane page and start again!</p>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

